GALA_PRIVATE_KEY=0x_your_signing_key_here
GALA_CHAINCODE_URL=http://localhost:3010/api/product-channel/basic-product
GALA_REST_API=https://gateway-testnet.galachain.com/api
KLEEBLATT_TOKEN_CLASS=eth|kleeblattcoin
PORT=8002
