[Unit]
Description=Kleeblatt Game Daily Awards Timer (midnight UTC)

[Timer]
OnCalendar=*-*-* 00:00:00
RandomizedDelaySec=120
Persistent=true

[Install]
WantedBy=timers.target
